body {
    background: #fafafa;
    color: #000;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    background: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    margin: 0 auto;
    width: 1200px;
}

    .main-header {
        height: 55px;
    }
        .nav {
            font-size: 0;
            list-style: none;
            margin: 0;
            padding: 0;
        }
            .nav li {
                font-size: 14px;
                display: inline-block;
                vertical-align: top;
                text-align: center;
                height: 50px;
                line-height: 50px;
                width: 20%;
            }

            .nav a {
                color: #000;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }

            .nav a:hover {
                color: #81b3d2;
            }

            .nav a:active {
                color: #000;
                opacity: 0.3;
            }

            .nav .active {
                color: #766357;
            }
            .nav .active:hover {
                color: #604e43;
            }
            .nav .active:active {
                color: #766357;
                opacity: 0.3;
            }

        .logo {
            position: absolute;
            left: 49%;
            top: 0;
            /*
            transform: translate(-50%, 0);
            */
            margin: 0 0 0 -55px;
            height: 70px;
            width: 138px;
            z-index: 1;
        }

    .intro-background {
        background: url(../img/index-img/bg.jpg) no-repeat 50% -54px;
        overflow: hidden;
        position: relative;
        height: 510px;
    }
        .intro-title {
            background: url(../img/index-img/sedona.png) no-repeat 0 0;
            font-size: 0;
            margin: 76px auto 0;
            height: 352px;
            width: 458px;
        }

        .intro-background::after {
            background: url(../img/index-img/angles.png) no-repeat 50% 100%;
            display: block;
            content: '';
            height: 57px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

    .index-header {
        margin: 60px auto 50px;
        text-align: center;
        text-transform: uppercase;
    }

        .index-header-title {
            font-size: 21px;
            font-weight: bold;
            line-height: 26px;
            margin: 0 0 27px;
        }

        .index-header p {
            font-size: 14px;
            line-height: 26px;
            margin: 0;
        }

.reasons {
    font-size: 0;
}

.reasons-withImage {
    background: #81b3d2;
    position: relative;
    min-height: 256px;
    overflow: hidden;
}

.bridge {
    margin-top: 35px;
}

.reasons-gray {
    background: #eee;
    padding-bottom: 7px;
}
    .reason {
        font-size: 14px;
        display: inline-block;
        vertical-align: top;
        width: 33.33%;
        padding: 50px 20px 50px;
        text-align: center;
        box-sizing: border-box;
        text-transform: uppercase;
    }

    .reasons-withImage .reason {
        color: #fff;
    }
        .reason-title {
            font-size: 21px;
            font-weight: bold;
            line-height: 21px;
            margin: 0;
        }

        .reason-text {
            font-size: 14px;
            line-height: 21px;
            margin: 22px 0 0;
        }

        .number {
            margin-top: 24px;
        }

        .number-three {
            margin-top: 24px;
        }
            
        .number-four {
            margin-top: 24px
        }

        .number-five {
            margin-top: 24px
        }



        .paragraph {
            margin-top: 17px;
        }

    .reason-image {
        display: inline-block;
        vertical-align: top;
        width: 66.67%;
    }
        .reason-image img {
            max-width: 100%;
        }

    /*.reason-image-town {
        background: url(../img/index-img/town.jpg) no-repeat 50% 0;
        background-size: cover;
        right: 0;
    }*/

    .reason-withIcon {
        position: relative;
        margin-top: 5px;
    }
        .reason-withIcon::before {
            content: '';
            display: block;
            margin: 0 auto 30px;
            height: 76px;
            width: 75px;
        }

        .reason-apartment::before {
            background: url(../img/index-img/housing.png) no-repeat 50% 50%;
        }

        .reason-food::before {
            background: url(../img/index-img/food.png) no-repeat 50% 20%;
        }

        .reason-souvenirs::before {
            background: url(../img/index-img/souvenir.png) no-repeat 50% 20%;
        }


.brige {
    display: inline-block;
    vertical-align: top;
    /*width: 66.67%;*/
    width: 800px;
    top: 31px;
}

.record {
    padding: 22px 0 53px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
}

.question {
    font-size: 30px;
}

.search-header {
    width: 568px;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    background: #666666;
    z-index: 1;
}


.search {
    margin: -3px auto 0;
    position: relative;
    width: 568px;
}

    .search-button {
        background: #766357;
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        text-align: center;
        line-height: 86px;
        height: 86px;
    }

    .search-form {
        background: #fff;
        position: absolute;
        top: 86px;
        left: 0;
        right: 0;
        padding: 56px;
    }
        .search-form-group {
            display: inline-block;
            font-size: 0;
            border: 0;
            padding: 0 0 3px;
            margin: 0  0 30px;
        }

        .group-baby {
            margin-left: 24px;
        }

        .arrival-date {
            margin-top: -2px;
        }

        .date-of-departure {
            margin-top: -4px;
        }

        .search-form label {
            display: inline-block;
            vertical-align: top;
            margin-right: -4px;
            font-size: 14px;
            font-weight: bold;
            line-height: 38px;
            text-transform: uppercase;
            width: 115px;
        }

        .search-form-input {
            box-sizing: border-box;
            border: 2px solid #f2f2f2;
            background: #f2f2f2;
            font-size: 14px;
            font-weight: bold;
            padding: 0 14px;
            text-transform: uppercase;
            outline: 0;
            height: 38px;
            width: 311px;
            display: inline-block;
        }

        .calendar-btn {
            box-sizing: border-box;
            border: 2px solid #f2f2f2;
            background: #f2f2f2;
            font-size: 14px;
            font-weight: bold;
            padding: 0;
            text-transform: uppercase;
            height: 38px;
            width: 34px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
        }

        .calendar-btn:hover {
            background-color: #ebebeb;
            border-color: #ebebeb;
        }

        .calendar-btn:focus {
            border-color: #e5e5e5;
            background: #fff;
        }

        .search-form-input:hover {
            background: #ebebeb;
            border-color: #ebebeb;
        }

        .search-form-input:focus {
            border-color: #e5e5e5;
            background: #fff;
        }

        .search-form-minus {
            box-sizing: border-box;
            border: 2px solid #f2f2f2;
            background: #f2f2f2;
            font-size: 14px;
            font-weight: bold;
            padding: 0;
            text-transform: uppercase;
            outline: 0;
            height: 38px;
            width: 34px;
        }
  
        .search-form-minus:hover {
            background: #ebebeb;
            border-color: #ebebeb;
        }

        .search-form-minus:focus {
            border-color: #e5e5e5;
            background: #fff;
        }

        .search-form-adult {
            box-sizing: border-box;
            border: 2px solid #f2f2f2;
            background: #f2f2f2;
            font-size: 14px;
            font-weight: bold;
            padding: 0 10px;
            text-transform: uppercase;
            outline: 0;
            height: 38px;
            width: 34px;
        }

        .search-form-adult:hover {
            background: #ebebeb;
            border-color: #ebebeb;
        }

        .search-form-adult:focus {
            border-color: #e5e5e5;
            background: #fff;
        }

        .search-form-plus {
            box-sizing: border-box;
            border: 2px solid #f2f2f2;
            background: #f2f2f2;
            font-size: 14px;
            font-weight: bold;
            padding: 0;
            text-transform: uppercase;
            outline: 0;
            height: 38px;
            width: 34px;
        }

        .search-form-plus:hover {
            background: #ebebeb;
            border-color: #ebebeb;
        }

        .search-form-plus:focus {
            border-color: #e5e5e5;
            background: #fff;
        }
        
        .search-form-baby {
            box-sizing: border-box;
            border: 2px solid #f2f2f2;
            background: #f2f2f2;
            font-size: 14px;
            font-weight: bold;
            padding: 0 10px;
            text-transform: uppercase;
            outline: 0;
            height: 38px;
            width: 34px;
        }

.baby {
    text-align: center;
    margin-right: 26px;
}

        .search-form-baby:hover {
            background: #ebebeb;
            border-color: #ebebeb;
        }

        .search-form-baby:focus {
            border-color: #e5e5e5;
            background: #fff;
        }


.questionnaire {
    padding: 40px;
    width: 568px;
    height: 200px;
    text-align: left;
    background: #fff;
}

.btn-search {
    padding: 15px 0;
    margin-top: 18px;
    width: 457px;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    background: #81b3d2;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 0px solid;
}

.btn-search:hover {
    background: #669ec0;
}

.main-footer {
    height: 88px;
    font-size: 0;
    text-align: center;
    background: rgba(254, 254, 254, 0.9);
    text-transform: uppercase;
    padding: 32px 0 0;
    margin-top: -120px;
    position: relative;
}

    .footer-hashtag {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        font-size: 21px;
        line-height: 26px;
        font-weight: bold;
        width: 33.33%;
    }

    .footer-social-list {
        display: inline-block;
        vertical-align: top;
        list-style: none;
        width: 33.33%;
        margin: 0;
        padding: 0;
    }
 
    .social-btn {
        display: inline-block;
        vertical-align: top;
        background: #81b3d2;
        width: 46px;
        height: 48px;
        margin: 0 5px;
    }
     
    .social-btn:hover {
        background-color: #669ec0;
    }

    .social-btn-twitter {
        margin: 0;
        padding: 0;
        background: url(../img/twitter.svg) no-repeat 50% 50%;
    }

        .social-btn-left {
            margin-left: 5px;
        }

    .social-btn-fb {
        margin: 0;
        padding: 0;
        background: url(../img/facebook.svg) no-repeat 50% 50%;
    }

        .social-btn-center {
            margin: 0 0 0 2px;
        }

    .social-btn-youtube {
        margin: 0;
        padding: 0;
        background: url(../img/youtube.png) no-repeat 50% 50%;
    }

        .social-btn-right {
            margin-left: 6px;
        }

.footer-copyright {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 33.33%;
    font-size: 14px;
    line-height: 26px;
}

    .website {
        display: inline-block;
        vertical-align: top;
        margin-top: 9px;
        margin-left: 6px;
    }

    .htmlacademy {
        background: url(../img/index-img/calendar.png);
        margin-top: 4px;
        margin-right: 4px;
        margin-left: 4px;
    }

    .htmlacademy:hover {
        background: url(../img/htmlacademy-hover.png) no-repeat 100% 100%;
    }


.selection {
    background: url(../img/catalog-img/bg.jpg) no-repeat 50% 16%;
    overflow: hidden;
    height: 216px;
    color: #fff;
    text-transform: uppercase;
}

    .infrastructure {
        float: left;
        margin: 28px 0;
        margin-left: 75px;
    }

        .checkbox {
            margin: 10px 0 10px;
        }
    
    .housing {
        float: left;
        margin: 28px 0 0 115px;
    }

    .cost-day {
        float: right;
        margin: 50px 210px 0 0;
    }

.filter-range {
    width: 315px;
    margin: 29px auto;
    margin-right: 80px;
    color: #ffffff;
    text-transform: uppercase;
}

    .filter-range-title {
        margin-bottom: 9px;
        margin-left: -3px;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
    }

    .price-controls {
        position: relative;  
        height: 32px;
        width: 315px;
        margin-left: 5px;
        margin-bottom: 20px;
        font-size: 0;
        border: 2px solid #ffffff;
        border-radius: 2px;
}

    .price-controls::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 22px;
        background: #ffffff;
        transform: translate(-50%, -50%);
    }

    .price-controls label {
        display: inline-block;
        font-size: 14px;
        line-height: 38px;
        vertical-align: top;
        cursor: pointer;
    }

    .price-controls .min-price,
    .price-controls .max-price {
        width: 90px;
        margin-top: -5px;
        padding-left: 60px;
    }

    .price-controls input {
        width: 50px;
        margin: 0;
        color: inherit;
        font: inherit;
        background: none;
        border: none;
        outline: none;
    }

    .range-controls {
        position: relative;
        margin-bottom: 32px;
    }

    .range-controls .scale {
        height: 2px;
        background: rgba(255, 255, 255, 0.3);
    }

    .range-controls .bar {
        width: 80%;
        height: 2px;
        background: #ffffff;
    }

    .range-toggle {
        position: absolute;
        top: -9px;
        width: 4px;
        height: 4px;
        background: #ababab;
        border: 8px solid #ffffff;
        border-radius: 50%;
        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
        cursor: pointer;
    }

    .range-toggle:hover {
        background: #1c4f80;
    }

    .range-toggle-min {
        left: 0;
    }

    .range-toggle-max {
        left: 80%;
    }

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    margin: 33px 0 0 89px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.header-counter {
    background: #fefefe;
    margin-bottom: 120px;
}

.breadcrumbs {
    display: inline-block;
    vertical-align: top;
    margin-left: 72px;
    margin-bottom: 14px;
    text-transform: uppercase;
    width: 50%;
}

    .found {
        float: left;
        width: 150px;
        margin-top: 31px;
        margin-right: 14px;
        font-size: 21px;
        line-height: 26px;
        vertical-align: middle;
    }

    .sorting {
        float: left;
        width: 100px;
        margin: 37px 0 0;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #000;
    }

    .sorting-link li {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin: 20px 0 0;
        list-style: none;
        line-height: 18px;
    }
    
    .link {
        color: #cccccc;
        border-bottom: 1px dotted #81b3d2;
        text-decoration: none;
        font-size: 12px;
    }

    .price {
        color: #81b3d2;
        border: 0px dotted;
        margin-left: 15px;
    }

    .a-type {
        margin-left: 28px;
    }

    .rating {
        margin-left: 29px;    
    }

.sortings-arrow {
    float: right;
    margin-top: 40px;
    margin-right: 65px;
}

    .sorting-arrow {
        color: #ccc;
    }

    .sorting-arrow:hover {
        color: #000;
    }

    .sorting-arrow-down {
        color: #ccc;
    }

    .sorting-arrow-down:hover {
        color: #000;
    }

a {
    text-decoration: none;
}


.hotel {
    font-size: 0;
    text-transform: uppercase;
    border-top: 1px solid #e5e5e5;
}

    .hotel-description {
        margin: 20px -3px 0;
        border-bottom: 1px solid #e5e5e5;
    }

    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    .image-card {
        margin-left: 75px;
    }

    .hotel-description-image {
        float: left;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-right: 20px;
    }

    .hotel-card {
        margin: -16px 0 0 166px;
    }

    .hotel-title {
        font-size: 21px;
        line-height: 26px;
        width: 240px;
    }

    .hotel-title:hover {
        color: #81b3d2;
    } 

    .hotel-category-cost {
        margin-top: -13px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    .hotel-category {
        display: inline-block;
        font-size: 14px;
        line-height: 21px;
    }

    .hotel-cost {
        display: inline-block;
        font-size: 14px;
        line-height: 21px;
    }

    .spa {
        margin-left: 34px;
    }

    .inn {
        margin-left: 58px;
    }

    .diablo {
        margin-left: 13px;
    }

    .btn {
        padding: 5px 16px;
        background: #81b3d2;
        color: #fff;
        font-size: 14px;
        line-height: 21px;
        text-decoration: none;
        margin: -4px 0 ;
    }

    .btn:hover {
        background: #669ec0;
    }

    .btn-brown {
        margin-left: 7px;
        background: #766357;
    }

    .btn-brown:hover {
        background: #604e43;
    }


.rating-stars {
    float: right;
    text-align: right;
    font-size: 21px;
    line-height: 26px;
    margin-right: 75px;
    margin-top: -91px;
    width: 100px;
}

    .rating-star {
        color: #81b3d2;
    }

    .hotel-rating {
        float: right;
        width: 110px;
        margin-top: -25px;
        margin-right: 75px;
        margin-bottom: 30px;
    }
    
.rating-value {
    padding: 5px 0;
    width: 110px;
    background: #f2f2f2;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
