body {
    background: #fafafa;
    color: #000;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    background: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    margin: 0 auto;
    width: 1200px;
}

    .main-header {
        height: 55px;
    }
        .nav {
            font-size: 0;
            list-style: none;
            margin: 0;
            padding: 0;
        }
            .nav li {
                font-size: 13px;
                display: inline-block;
                vertical-align: top;
                text-align: center;
                height: 50px;
                line-height: 50px;
                width: 20%;
            }

            .nav a {
                color: #000;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }

            .nav a:hover {
                color: #81b3d2;
            }

            .nav a:active {
                color: #000;
                opacity: 0.3;
            }

            .nav .active {
                color: #766357;
            }
            .nav .active:hover {
                color: #604e43;
            }
            .nav .active:active {
                color: #766357;
                opacity: 0.3;
            }

        .logo {
            position: absolute;
            left: 49%;
            top: 0;
            /*
            transform: translate(-50%, 0);
            */
            margin: 0 0 0 -55px;
            height: 70px;
            width: 138px;
            z-index: 1;
        }

    .intro-background {
        background: url(../img/index-img/bg.jpg) no-repeat 50% -54px;
        overflow: hidden;
        position: relative;
        height: 510px;
    }
        .intro-title {
            background: url(../img/index-img/sedona.png) no-repeat 0 0;
            font-size: 0;
            margin: 76px auto 0;
            height: 352px;
            width: 458px;
        }

        .intro-background::after {
            background: url(../img/index-img/angles.png) no-repeat 50% 100%;
            display: block;
            content: '';
            height: 57px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

    .index-header {
        margin: 60px auto 50px;
        text-align: center;
        text-transform: uppercase;
    }

        .index-header-title {
            font-size: 21px;
            font-weight: bold;
            line-height: 26px;
            margin: 0 0 27px;
        }

        .index-header p {
            font-size: 14px;
            line-height: 26px;
            margin: 0;
        }

.reasons {
    font-size: 0;
}

.reasons-withImage {
    background: #81b3d2;
    position: relative;
    min-height: 256px;
    overflow: hidden;
}

.reasons-gray {
    background: #eee;
}
    .reason {
        font-size: 14px;
        display: inline-block;
        vertical-align: top;
        width: 33.33%;
        padding: 54px 20px;
        text-align: center;
        box-sizing: border-box;
        text-transform: uppercase;
    }

    .reasons-withImage .reason {
        color: #fff;
    }
        .reason-title {
            font-size: 21px;
            font-weight: bold;
            line-height: 21px;
            margin: 0;
        }

        .reason-text {
            font-size: 14px;
            line-height: 21px;
            margin: 18px 0 0;
        }

    .reason-image {
        display: inline-block;
        vertical-align: top;
        width: 66.67%;
    }
        .reason-image img {
            max-width: 100%;
        }

    /*.reason-image-town {
        background: url(../img/index-img/town.jpg) no-repeat 50% 0;
        background-size: cover;
        right: 0;
    }*/

    .reason-withIcon {
        position: relative;
    }
        .reason-withIcon::before {
            content: '';
            display: block;
            margin: 0 auto 30px;
            height: 76px;
            width: 75px;
        }

        .reason-apartment::before {
            background: url(../img/index-img/housing.png) no-repeat 50% 50%;
        }

        .reason-food::before {
            background: url(../img/index-img/food.png) no-repeat 50% 20%;
        }

        .reason-souvenirs::before {
            background: url(../img/index-img/souvenir.png) no-repeat 50% 20%;
        }


.brige {
    display: inline-block;
    vertical-align: top;
    /*width: 66.67%;*/
    width: 800px;
}

.record {
    padding: 58px 0 55px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
}

.question {
    font-size: 30px;
}

.search-header {
    width: 568px;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    background: #666666;
    z-index: 1;
}


.search {
    margin: 0 auto;
    position: relative;
    width: 568px;
}

    .search-button {
        background: #766357;
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        text-align: center;
        line-height: 86px;
        height: 86px;
    }

    .search-form {
        background: #fff;
        position: absolute;
        top: 86px;
        left: 0;
        right: 0;
        padding: 56px;
    }
        .search-form-group {
            font-size: 0;
            border: 0;
            padding: 0;
            margin: 0 0 30px;
        }

        .search-form label {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            font-weight: bold;
            line-height: 38px;
            text-transform: uppercase;
            width: 115px;
        }

        .search-form-input {
            box-sizing: border-box;
            border: 2px solid #f2f2f2;
            background: #f2f2f2;
            font-size: 14px;
            font-weight: bold;
            padding: 0 16px;
            text-transform: uppercase;
            outline: 0;
            height: 38px;
            width: 326px;
        }
        .search-form-input:hover {
            background: #ebebeb;
            border-color: #ebebeb;
        }
        .search-form-input:focus {
            border-color: #e5e5e5;
            background: #fff;
        }





.questionnaire {
    padding: 40px;
    width: 568px;
    height: 200px;
    text-align: left;
    background: #fff;
}

.btn-search {
    padding: 10px 200px;
    width: 250px;
    color: #fff;
    font-weight: bold;
    background: #99cccc;
    text-align: center;
    text-decoration: none;
}

























.link {
    display: inline-block;
    color: #cccccc;
    border-bottom: 1px dotted #99cccc;
    text-decoration: none;
    font-size: 14px;
}





.hotel {
    font-size: 16px;
    text-transform: uppercase;
}



.btn {

    padding: 5px 15px;
    background: #99cccc;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.btn:hover {
    background: #669ec0;
}

.btn-brown {
    margin-right: 5px;
    background: #766357;
}

.btn-brown:hover {
    background: #604e43;
}









.rating-value {
    padding: 5px 5px;
    margin: 0;
    width: 110px;
    background: #cccccc;
    font-size: 14px;
    text-align: center;
}

.selection {
    background: url(../img/catalog-img/bg.jpg) no-repeat 50% 50%;
    overflow: hidden;
    height: 216px;
    color: #fff;
    text-transform: uppercase;
}


.reason-bridge {
    color: #fff;
    font-size: ;
    background: #81b3d2;
}

.footer-social-list li {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.footer-social-list {
    float: left;
    font-size: 0;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 36px;
    margin-left: 200px;
    margin-right: 170px;
    padding: 0;
}

.social-btn {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background: #81b3d2;
}



.footer-hashtag {
    float: left;
    margin: 50px 50px 55px 130px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.social-btn-twitter {
    background: url(../img/twitter.svg) no-repeat 50% 60%;
}

.social-btn-fb {
    background: url(../img/facebook.svg) no-repeat 50% 60%;
}

.social-btn-youtube {
    background: url(../img/youtube.png) no-repeat 50% 60%;
}

.main-footer {
    text-align: center;
    height: 105px;
    background: #fff;
    opacity: ;
    z-index: 1;
}

.footer-copyright {
    margin-top: 20px;
    text-transform: uppercase;
}

.htmlacademy {
    margin-top: 40px;
}







.infrastructure {
    float: left;
    margin: 50px 0;
    margin-left: 75px;
}

.housing {
    float: left;
    margin: 50px 0 0 115px;
}

.cost-day {
    float: right;
    margin: 50px 210px 0 0;
}









.breadcrumbs {
    margin-left: 75px;
    text-transform: uppercase;
}

.sorting {
    float: left;
    width: 100px;
    margin: 45px 50px 0 0;
    font-weight: normal;
    font-size: 14px;
}

.sorting-link {
    display: inline-block;
    list-style: none;
    font-size: ;
}

.found {
    float: left;
    width: 150px;
    margin-top: 40px;
    margin-right: 50px;
    font-size: 22px;
    vertical-align: middle;
}

.image-card {
    margin-left: 75px;
}





.hotel-rating {
    float: right;
    margin-top: -20px;
    margin-right: 65px;
}

.hotel-description {
    margin: 10px 0 30px;
}

.hotel-description-image {
    float: left;
    margin-right: 20px;
}



.btn-transparent {
    color: #fff;
    margin-top: 20px;
    padding: 5px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 2px;
}

.btn-transparent:hover {
    background: #fff;
    color: #000;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.button {

}



.hotel-category-cost {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.hotel-category {
    display: inline-block;
}

.hotel-cost {
    display: inline-block;
}













.reasons-five {
    font-size: 14px;
    margin-top: 40px;
}

.sorting-arrow {
    color: #ccc;
}

.sorting-arrow:hover {
    color: #000;
}





.rating-star {
    color: #81b3d2;
}











.rating-stars {
    float: right;
    margin-top: -90px;
    margin-right: 65px;
}



.sorting-arrow-down {
    color: #ccc;
}

.sorting-arrow-down:hover {
    color: #000;
}

.sortings-arrow {
    float: right;
    margin-top: 40px;
    margin-right: 65px;
}

a {
    text-decoration: none;
}




.price {
    color: #81b3d2;
    border: 0px dotted;
}





.spa {
    margin-left: 33px;
}

.inn {
    margin-left: 58px;
}

.diablo {
    margin-left: 13px;
}

.hotel-title {
    width: 240px;
}

.hotel-title:hover {
    color: #81b3d2;
}

.hotel-card {
    margin-left: 170px;
}
